<div class="dashboard-container px-6 py-12 max-w-screen-xl mx-auto">
    <div *ngIf="hasData(); else noDataTemplate">
      <!-- Task Statistics -->
      <div class="statistics mb-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Task Completed Card -->
        <div class="stat bg-gradient-to-br from-green-300 to-green-500 p-6 rounded-lg shadow-xl text-center hover:shadow-2xl hover:translate-y-2 transition-all duration-300">
          <div class="flex items-center justify-center gap-2">
            <img src="../../assets/checklist.png" class="h-10" alt="Logo">
          <h3 class="text-xl font-semibold text-green-100">Tasks Completed</h3>
          </div>
          
          <p class="text-2xl font-bold text-green-100">{{ taskStats.completedPercentage | number: '1.0-0' }}%</p>
        </div>
  
        <!-- Task Not Completed Card -->
        <div class="stat bg-gradient-to-br from-red-300 to-red-500 p-6 rounded-lg shadow-xl text-center hover:shadow-2xl hover:translate-y-2 transition-all duration-300">
          <div class="flex items-center justify-center gap-2">
            <img src="../../assets/clipboard.png" class="h-11" alt="Logo">
          <h3 class="text-xl font-semibold text-red-100">Tasks Not Completed</h3>
          </div>
          <p class="text-2xl font-bold text-red-100">{{ taskStats.notCompletedPercentage | number: '1.0-0' }}%</p>
        </div>
  
        <!-- Overdue Tasks Card -->
        <div class="stat bg-gradient-to-br from-yellow-300 to-yellow-500 p-6 rounded-lg shadow-xl text-center hover:shadow-2xl hover:translate-y-2 transition-all duration-300">
          <div class="flex items-center justify-center gap-2">
            <img src="../../assets/overdue.png" class="h-10" alt="Logo">
          <h3 class="text-xl font-semibold text-yellow-50">Overdue Tasks</h3>
          </div>
          <p class="text-2xl font-bold text-yellow-50">{{ taskStats.overdueCount }} tasks</p>
        </div>
      </div>
  
  
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-12">
  
        <!-- Bar Chart -->
        <div class="chart-wrapper bg-yellow-50 border-yellow-400 rounded-lg shadow-xl p-6 flex flex-col items-center">
          <h3 class="text-2xl font-semibold text-yellow-800 mb-4 text-center">Tasks by Category</h3>
          <canvas
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType"
            class="w-full h-72 border-2 border-yellow-300 rounded-lg p-4">
          </canvas>
        </div>
      
        <!-- Pie Chart -->
        <div class="chart-wrapper bg-yellow-50 border-yellow-400 rounded-lg shadow-xl p-6 flex flex-col items-center">
          <h3 class="text-2xl font-semibold text-yellow-800 mb-4 text-center">Tasks Status</h3>
          <div class="w-full flex justify-center items-center overflow-hidden">
            <canvas
              baseChart
              [data]="pieChartData"
              [type]="pieChartType"
              class="max-w-full max-h-full">
            </canvas>
          </div>
        </div>
      
      </div>
      
    </div>
  
    <!-- Template for no data -->
    <ng-template #noDataTemplate>
      <div class="no-data-message bg-yellow-100 border-2 border-yellow-300 p-8 rounded-lg shadow-xl text-center text-xl text-yellow-700">
        No data available to display.
      </div>
    </ng-template>
    
  </div>