<div class="search-bar mb-6">
  <label
    class="mx-auto relative bg-white min-w-sm max-w-2xl flex md:flex-row items-center justify-center border py-2 px-2 rounded-2xl gap-2 shadow-2xl"
    for="search-bar"
  >
    <input
      type="text"
      [(ngModel)]="searchText"
      placeholder="Rechercher une tâche..."
      class="px-6 py-2 w-full rounded-md flex-1 border-none outline-none bg-white"
    />

    <img src="../../assets/search.png" class="h-6" alt="seacrh" />
  </label>
</div>

<ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 justify-center">
<li
  *ngFor="let task of tasks | taskSearch : searchText"
  class="bg-yellow-50 flex flex-col justify-between items-start pb-8 pl-8 pr-8 rounded-lg shadow-xl transition-transform hover:scale-105 mb-6 relative"
>
  <!-- Priority Rectangle -->
  <div
    [ngClass]="{
      'bg-red-500': task.priority === 'high',
      'bg-yellow-500': task.priority === 'medium',
      'bg-green-500': task.priority === 'low'
    }"
    class="absolute top-0 left-0 w-full h-3 rounded-t-lg"
  ></div>
    <div class="flex justify-between w-full mt-5">
      <div class="flex items-center gap-2">
        <img src="../../assets/priority.png" class="h-9" alt="priority" />
        <p
          class="text-lg font-bold"
          [ngClass]="{
            'text-red-500': task.priority === 'high',
            'text-yellow-500': task.priority === 'medium',
            'text-green-500': task.priority === 'low'
          }"
        >
          {{ task.priority }}
        </p>
      </div>
      
      <!-- Status Badge -->
      <span
        [ngClass]="{
          'bg-green-100 text-green-800 border-green-800': task.status === 'completed',
          'bg-yellow-100 text-yellow-800 border-yellow-800': task.status === 'in-progress',
          'bg-red-100 text-red-800 border-red-800': task.status === 'not-started'
        }"
        class="px-3 py-1.5 rounded-full text-white text-sm text-center border"
      >
        {{ task.status }}
      </span>
    </div>
 <div class="flex justify-center items-center w-full mt-1">
      <span class="text-2xl font-semibold text-black">{{
        task.title | slice : 0 : 15
      }}</span>
    </div>
     <div class="flex items-center gap-2 mt-2 mb-4">
      <img src="../../assets/menu.png" class="h-6" alt="category" />
      <p class="text-md text-black">
        {{ task.category?.name || "No Category" }}
      </p>
    </div>

   
    

    <div class="border  border- p-1 pb-3 rounded-lg w-full">
      <p class="ml-4 mt-2 text-sm text-gray-700">{{ task.description }}</p>
    </div>

   
    <div class="flex justify-between w-full">
      <div class="mt-4 flex items-center gap-2 w-full">
        <img src="../../assets/schedule.png" class="h-6" alt="due date" />

        <p class="text-sm font-bold text-gray-700">
          {{ task.dueDate | date : "short" }}
        </p>
      </div>
      <div class="flex flex-end w-full justify-end">
        <!-- Edit Button -->
        <button
          class="text-white py-1 px-3 rounded-full hover:scale-105"
          (click)="editTask(task)"
        >
          <img src="../../assets/edit.png" class="h-6" alt="edit" />
        </button>
        <!-- Delete Button -->
        <button
          class="text-white py-1 px-3 rounded-full hover:scale-105"
          (click)="deleteTask(task)"
        >
          <img src="../../assets/delete.png" class="h-6" alt="delete" />
        </button>
      </div>
    </div>
  </li>
</ul>
